<div class="form-group">
  <%= f.radio_button :status, 'submitted'%>
  <%= f.label :Submitted, class: "Submitted" %>

  <%= f.radio_button :status, 'approved'%>
  <%= f.label :Approved, class: "Approved" %>

  <%= f.radio_button :status, 'rejected'%>
  <%= f.label :Rejected, class: "Rejected" %>
</div>
